.errors {
  color: red;
}

.input-container {
  position: relative;
  display: inline-block;
}

.custom-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.custom-button {
  position: relative;
  float: right;
}

.minimal-input-dark {
  border: 1px solid #666;
  font-size: 14px;
  border-radius: 5px;
}

.minimal-input-dark:focus {
  border-color: 4px #1890ff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.border-card {
  border-left: 2px solid #117dbf;
}

.MuiAppBar-colorInherit {
  background-color: #117dbf;
}

.swal-zindex {
  z-index: 10000;
}

.inputForm {
  display: block;
  color: tomato;
  font-style: x-small;
}

/* Loader */
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

/* Body */
.siu1 {
  background: #262626;
  color: white;
}

.css-8qynzz-MuiTypography-root {
  color: white;
}

/* Card Creados */
.card1 {
  background: #5a96e3;
  border: none;
  color: white;
}

/* Card Respondidos */
.card2 {
  background: #99b080;
  border: none;
  color: white;
}

/* Card Asignados */
.card3 {
  background: #ff870a;
  border: none;
  color: white;
}

/* Card Creados */
.card4 {
  background: #ff6666;
  border: none;
  color: white;
}

/* nombre componente */
.css-1ndydts-MuiTypography-root {
  color: white;
}

/* Texto Tabs asignaciones-Pendientes-Asignados */
.css-7ojolc-MuiButtonBase-root-MuiTab-root {
  color: white;
}

.left-icon {
  align-self: flex-end;
  margin-bottom: 50px;
}
