.errors {
  color: red !important;
}

.input-container {
  position: relative !important;
  display: inline-block !important;
}

.custom-input {
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  outline: none !important;
}

.custom-button {
  position: relative !important;
  float: right !important;
}

.minimal-input-dark {
  border: 1px solid #666 !important;
}

.minimal-input-dark:focus {
  border-color: 4px #1890ff !important;
}

.border-card {
  border-left: 2px solid #117dbf !important;
}

.MuiAppBar-colorInherit {
  background-color: #117dbf !important;
}

.swal-zindex {
  z-index: 10000 !important;
}

.inputForm {
  display: block !important;
  color: tomato !important;
  font-style: x-small !important;
}


/* Card Creados */
.card1 {
  background: #5a96e3 !important;
  border: none !important;
  color: white !important;

}

/* Card Respondidos */
.card2 {
  background: #9DBC98 !important;
  border: none !important;
  color: white !important;

}

/* Card Asignados */
.card3 {
  background: #ffa33c !important;
  border: none !important;
  color: white !important;
}

/* Card Pendientes */
.card4 {
  background: #F46060 !important;
  border: none !important;
  color: white !important;

}

/* Card secretaria */
.cardSecretaria {
  background: #82A0D8;
  color: white !important;

}

.cardEntidad {
  background: #9DBC98 !important;
  border: none !important;
  color: white !important;

}

.cardTutelas {
  background: #0cb6eb;
  color: white !important;

}

.left-icon {
  align-self: flex-end !important;
  margin-bottom: 50px !important;
}


/*  tabla admin */
@keyframes blink {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #ff6666;
  }

  100% {
    background-color: transparent;
  }
}

.blinking {
  animation: blink 3s infinite;
}

hr {
  background-color: #ffffff;
}

.error-message {
  text-align: center;
  color: red;
  margin-top: 10px;
}

/* input contador respuesta */
.MuiTextField-root {
  width: 60px;
}


.inputUser {
  background-color: #fff;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: #c7d2fe 0px 0px 0px 3.2px;
  color: #4b5563;
  display: inline-block;
  font-family: Inter var;
  line-height: 25.12px;
  padding: 2px
}

.dias {
  background: #ffa33c !important;
}

/* Fuente cards */
.css-14n8fpx {
  color: white !important;
}

.css-ccyz7s {
  color: white !important;
}


/* Loader Component */

/* From Uiverse.io by abrahamcalsin */
.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}