.errors {
  color: red !important;
}

.input-container {
  position: relative !important;
  display: inline-block !important;
}

.custom-input {
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  outline: none !important;
}

.custom-button {
  position: relative !important;
  float: right !important;
}

.minimal-input-dark {
  border: 1px solid #666 !important;
}

.minimal-input-dark:focus {
  border-color: 4px #1890ff !important;
}

.border-card {
  border-left: 2px solid #117dbf !important;
}

.MuiAppBar-colorInherit {
  background-color: #117dbf !important;
}

.swal-zindex {
  z-index: 10000 !important;
}

.inputForm {
  display: block !important;
  color: tomato !important;
  font-style: x-small !important;
}

/* Loader */
.newtons-cradle {
  --uib-size: 50px !important;
  --uib-speed: 1.2s !important;
  --uib-color: #474554 !important;
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: var(--uib-size) !important;
  height: var(--uib-size) !important;
}

.newtons-cradle__dot {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  width: 25% !important;
  transform-origin: center top !important;
}

.newtons-cradle__dot::after {
  content: '' !important;
  display: block !important;
  width: 100% !important;
  height: 25% !important;
  border-radius: 50% !important;
  background-color: var(--uib-color) !important;
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite !important;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite !important;
}

@keyframes swing {
  0% {
    transform: rotate(0deg) !important;
    animation-timing-function: ease-out !important;
  }

  25% {
    transform: rotate(70deg) !important;
    animation-timing-function: ease-in !important;
  }

  50% {
    transform: rotate(0deg) !important;
    animation-timing-function: linear !important;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg) !important;
    animation-timing-function: linear !important;
  }

  50% {
    transform: rotate(0deg) !important;
    animation-timing-function: ease-out !important;
  }

  75% {
    transform: rotate(-70deg) !important;
    animation-timing-function: ease-in !important;
  }
}

/* Body */
.siu1 {
  background: #f5f5f5 !important;
}

/* .css-8qynzz-MuiTypography-root {
  color: white !important;
} */

/* Card Creados */
.card1 {
  background: #5a96e3 !important;
  border: none !important;
  color: white !important;
}

/* Card Respondidos */
.card2 {
  background: #99b080 !important;
  border: none !important;
  color: white !important;
}

/* Card Asignados */
.card3 {
  background: #ffa33c !important;
  border: none !important;
  color: white !important;
}

/* Card Pendientes */
.card4 {
  background: #ff6666  !important;
  border: none !important;
  color: white !important;
}
/* Card secretaria */
.cardSecretaria{
  background: #82A0D8;
  color: black;
}

/* nombre componente */
/* .css-1ndydts-MuiTypography-root {
  color: white !important;
} */

/* Texto Tabs asignaciones-Pendientes-Asignados */
/* .css-7ojolc-MuiButtonBase-root-MuiTab-root {
  color: rgba(255, 255, 255, 0.945) !important;
} */

.left-icon {
  align-self: flex-end !important;
  margin-bottom: 50px !important;
}

/* .css-yqjk4i-MuiTablePagination-selectLabel {
  color: white  !important
}

.css-svbzvd-MuiSelect-select-MuiInputBase-input {
  color: white  !important
}

.css-1u6dfzx-MuiTablePagination-displayedRows {
  color: white  !important
} */

.MuiTableCell-body {
  border-bottom: 0.5rem px solid #464141 !important;
}

/* .form-label {
  color: #262626 !important;
} */

/*  tabla admin */
@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ff6666;
  }
  100% {
    background-color: transparent;
  }
}

.blinking {
  animation: blink 3s infinite;
}

hr {
  background-color: #d9d9d9;
}

.css-8qynzz-MuiTypography-root {
  color: black;
}

.css-8qynzz-MuiTypography-root {
  color: white;
}

.css-175hcye-MuiTypography-root {
  color: white;
}

.error-message {
  text-align: center;
  color: red; 
  margin-top: 10px; 
}
/* input contador respuesta */
.MuiTextField-root{
  width: 60px;
}